body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background: purple;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
